* {
	margin: 0;
	padding: 0;
}

img {
  width: 100%;
}

body{
	padding-top: 60px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.button {
	margin-bottom: 16px;
}	

.btn {
	display: inline-block;
	border: 0;
	outline: 0;
	padding: 12px 32px;
	background-color: green;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 16px;
}

.image {
	height: 480px;
	width: 480px;
  border-radius: 8px;
  overflow: hidden;
}

.image img {
	height: 100%;
  width: 100%;
  object-fit: cover;
	display: block;
}

.slide {
  padding-top: 60px;
}